<div class="card mt-4">
  <h4 class="card-header">Songs list</h4>
  <div class="card-body">
    <h6>Songs from protected api end point</h6>
    <hr>
    <div class="form-group">
      <a routerLink="/songs/add-song" class="btn btn-primary">Create song</a>
    </div>

    <div class="form-group">
      <label for="search-text">Search by name:</label>
      <input type="text" class="form-control col-md-6" id="search-text"
             [(ngModel)]="searchText" placeholder="Enter song name to search" autofocus>
    </div>

    <div class="d-flex justify-content-center">
      <div *ngIf="loading" class="spinner-border spinner-border-lf text-info"></div>
    </div>

    <table class="table" *ngIf="songs && !loading">
      <thead>
      <tr>
        <th>Name</th>
        <th>Album</th>
        <th>Genre</th>
        <th>Performer</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let song of songs | filter:searchText">
        <td>{{song.name}}</td>
        <td>{{song.albumName}}</td>
        <td>{{song.genreName}}</td>
        <td>{{song.performerName}}</td>
        <td class="text-center">
          <button class="btn btn-primary mr-1" [routerLink]="['/songs/', song.songId, 'edit']">Edit</button>
          <button class="btn btn-danger" (click)="openDialog(song.songId)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
