@model Album
@{
    ViewData["Title"] = "Create";
}
<h3>Create album</h3>
<form asp-action="Create" method="post">
    <input type="hidden" value="@ViewBag.AlbumId" name="AlbumId" />
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <th scope="col">Release date</th>
            <td><input type="date" name="ReleaseDate" /></td>
        </tr>
        <tr>
            <th scope="col">Song</th>
            <td><input type="text" name="Song" /></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-outline-primary">Create</button></td>
            <td></td>
        </tr>
    </table>
</form>
<a asp-action="Index">Back to list</a>

