@model IEnumerable<Mbicycle.Karina.MusicCatalog.Domain.Album>
@{
    ViewData["Title"] = "Create album";
}
<h3>Create album</h3>
<form action="/Albums/CreateAlbum" method="post">
    <input type="hidden" value="@ViewBag.AlbumId" name="AlbumId" />
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <th scope="col">Release date</th>
            <td><input type="date" name="ReleaseDate" /></td>
        </tr>
        <tr>
            <th scope="col">Song</th>
            <td><input type="text" name="Song" /></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit" /> </td>
            <td></td>
        </tr>
    </table>
</form>

