@model Album
@{
    ViewData["Title"] = "Create";
}
<h3>Create album</h3>
<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="Name" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReleaseDate" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input type="date" asp-for="ReleaseDate" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Song.Name" class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <input type="text" asp-for="Song.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to list</a>
</div>

