@model Album
@{
    ViewData["Title"] = "Edit album";
}
<h3>Edit album</h3>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="AlbumId" />
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
        </div>
        <label asp-for="ReleaseDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="date" asp-for="ReleaseDate" class="form-control" />
        </div>
        <label asp-for="Song.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Song.Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-outline-primary" />
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to list</a>
</div>


