<div class="container">
  <h3>Albums list</h3>

  <p *ngIf="!albums"><em>Loading...</em></p>

  <div class="form-group">
    <a routerLink="/albums/add-album" class="btn btn-primary">Create album</a>
  </div>

  <table class='table table-bordered table-hover' aria-labelledby="tableLabel" *ngIf="albums">
    <thead>
    <tr>
      <th>Name</th>
      <th>Release date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let album of albums">
      <td>{{ album.name }}</td>
      <td>{{ album.releaseDate }}</td>
      <td>
        <button class="btn btn-primary" routerLink="/albums/{{album.id}}">Edit</button>
        <button class="btn btn-dander" routerLink="/albums/{{album.id}}">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
