@model Album
@{
    ViewData["Title"] = Localizer["Title"];
}
<h3>@Localizer["Header"]</h3>
<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="Name" class="col-md-4 control-label">@Localizer["Name"]</label>
            <div class="col-md-8">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReleaseDate" class="col-md-4 control-label">@Localizer["ReleaseDate"]</label>
            <div class="col-md-8">
                <input asp-for="ReleaseDate" type="date" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">@Localizer["Back to list"]</a>
            </div>
        </div>
    </div>
</form>