@model Performer
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit" asp-controller="Performers" asp-route-id="@Model.PerformerId">
    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-outline-primary">Save</button></td>
            <td></td>
        </tr>
    </table>
</form>
<a asp-action="Index">Back to list</a>

