<div class="col-md-6">
  <div>
    <h4 i18n class="header">Create song</h4>
    <hr>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">
      <div class="form-group">
        <label i18n for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name"
               [ngClass]="{ 'is-invalid': submitted && formField.name.errors }"/>
        <div *ngIf="formField.name.errors" class="invalid-feedback">
          <div i18n *ngIf="formField.name.errors?.required">Name is required</div>
          <div i18n *ngIf="formField.name.errors?.minlength">Name must be at least 3 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label i18n for="albumId">Album</label>
        <select formControlName="albumId" id="albumId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formField.albumId.errors }">
          <option i18n value="" class="form-control">Select album</option>
          <option *ngFor="let album of albums" [ngValue]="album.albumId">
            {{album.name}}
          </option>
        </select>
        <div *ngIf="formField.albumId.errors" class="invalid-feedback">
          <div i18n *ngIf="formField.albumId.errors?.required">Album is required</div>
        </div>
      </div>
      <div class="form-group">
        <label i18n for="genreId">Genre</label>
        <select formControlName="genreId" id="genreId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formField.genreId.errors }">
          <option i18n value="" class="form-control">Select genre</option>
          <option *ngFor="let genre of genres" [ngValue]="genre.genreId">
            {{genre.name}}
          </option>
        </select>
        <div *ngIf="formField.genreId.errors" class="invalid-feedback">
          <div i18n *ngIf="formField.genreId.errors?.required">Genre is required</div>
        </div>
      </div>
      <div class="form-group">
        <label i18n for="performerId">Performer</label>
        <select formControlName="performerId" id="performerId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formField.performerId.errors }">
          <option i18n value="" class="form-control">Select performer</option>
          <option *ngFor="let performer of performers" [ngValue]="performer.performerId">
            {{performer.name}}
          </option>
        </select>
        <div *ngIf="formField.performerId.errors" class="invalid-feedback">
          <div i18n *ngIf="formField.performerId.errors?.required">Performer is required</div>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button i18n type="submit" class="btn btn-success mr-1">Create song</button>
        <a i18n="@@btn-back-to-list" href="#" routerLink="/songs" class="btn btn-secondary">Back to list</a>
      </div>
    </form>
  </div>
</div>
