<div class="card mt-4">
  <h4 class="card-header">Genres list</h4>
  <div class="card-body">
    <h6>Genres from protected api end point</h6>
    <hr>
    <p *ngIf="!genres"><em>Loading...</em></p>

    <div class="form-group">
      <a routerLink="/genres/add-genre" class="btn btn-primary">Create genre</a>
    </div>

    <table class='table table-bordered table-hover' aria-labelledby="tableLabel" *ngIf="genres">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let genre of genres">
        <td>{{ genre.name }}</td>
        <td class="text-center">
          <button class="btn btn-primary mr-1" [routerLink]="['/genres/', genre.genreId, 'edit']">Edit</button>
          <button class="btn btn-danger" (click)="confirmDeleteModal(template, genre.genreId)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm delete genre</h4>
  </div>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete this genre?</p>
    <button type="button" class="btn btn-secondary mr-1" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>
