<div class="col-md-6">
  <div>
    <h4 class="header">Edit album</h4>
    <hr>
    <div>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
        <input id="albumId" type="hidden">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" id="name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="releaseDate">Release date</label>
          <input type="date" formControlName="releaseDate" id="releaseDate" class="form-control" />
        </div>

        <div class="form-group">
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary mr-1" type="submit">Update album</button>
            <a href="#" routerLink="/albums" class="btn btn-secondary">Back to list</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
