<div class="card mt-4">
  <h4 class="card-header">Registered users list</h4>
  <div class="card-body">
    <h6>Users from protected api end point</h6>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <table class="table">
      <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td class="text-center">
          <button class="btn btn-primary mr-1" [routerLink]="['/users/', user.id, 'edit']">Edit</button>
          <button class="btn btn-danger" (click)="openDialog(user.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
