<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestMusicCatalog;Integrated Security=True;" />
	</connectionStrings>
	<appSettings>
		<add key="dacpacFilePath" value="AppPath\..\..\..\..\src\MusicCatalog.Database\bin\Debug\MusicCatalog.Database.dacpac" />
	</appSettings>
</configuration>