@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">@Localizer["ErrorHeader"]</h2>
<h3 class="text-danger">@Localizer["ErrorMessage"]</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">@Localizer["Home"]</a>
}

